@font-face {
    font-family: "Morgant";
    src: url("../assets/fonts/Morgant/Modius\ Regular.woff2") format("woff2"),
         url("../assets/fonts/Morgant/Modius\ Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
