:root {
    --primary: #31e685;
    --secondary: #1B804A;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Morgant", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
}

h1 {
    font-size: 5.4rem;
}

h2 {
    font-size: 7.4rem;
}

p {
    font-size: 1.7rem;
}

.highlight {
    color: var(--primary);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 40px 28px 74px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

.nav-bar, .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links, .social-links {
    list-style: none;
    display: flex;
}

.nav-links {
    gap: 4rem;
}

.social-links {
    gap: 2.5rem;
}

.nav-links a, .social-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 300;
}

.bi {
    width: 2.5rem;
    height: 2.5rem;
    fill: #31e685;
}

.home {
    position: relative;
    height: 100vh;
    color: #ffffff;
    background: linear-gradient(#000000, #061602);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 0;
    overflow: hidden;
}

.home > div {
    width: 70rem;
    text-align: center;
}

.home-heading {
    width: 100%;
    height: 11.8rem;
    padding: 0 8px 24px;
}

.home-para {
    width: 61.5rem;
    height: 4.8rem;
    text-align: center;
    padding: 8px;
    margin: auto;
}

.home-para p {
    font-size: 1.6rem;
}

.home .book-a-call {
    background-color: var(--primary);
    margin-top: 4.5rem;
}

.book-a-call {
    display: inline-block;
    width: 17.8rem;
    height: 4rem;
    border: none;
    border-radius: 100px;
}

.aesthetics .aesbutton, .aesthetics .aesspot, .aesimage {
    position: absolute;
}

.aesthetics .aesspot {
    width: 4px;
    height: 4px;
    background-color: #ffffff;
}

.spot1 {
    top: 14rem;
    left: 38.2rem;
}

.spot2 {
    top: 17rem;
    left: 89.2rem;
}

.spot3{
    bottom: 20em;
    left: 43.2rem;
}

.spot4 {
    bottom: 21em;
    left: 87rem;
}

.spot5 {
    bottom: 12em;
    left: 70rem;
}

.aesthetics .aesbutton {
    color: var(--primary);
    width: 19.6rem;
    height: 4.6rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.button1 {
    top: 9.7rem;
    left: 54.2rem;
    transform: rotate(-17.24deg);
}

.button2 {
    top: 43.2rem;
    left: 110.6rem;
    transform: rotate(26.47deg);
}

.button3 {
    top: 44.3rem;
    left: -7.9rem;
    transform: rotate(19.55deg);
}

.button4 {
    bottom: 2.5rem;
    left: 48.6rem;
    transform: rotate(-17.98deg);
}

.aesimage1 {
    width: 18.82rem;
    height: 26.82rem;
    top: 3rem;
    left: 0;
}

.aesimage2 {
    width: 48.66rem;
    height: 49.5rem;
    bottom: -23.8rem;
    left: 77.3rem;
}

.about {
    position: relative;
    color: #061602;
    background-color: #ffffff;
}

.gfx-aes {
    overflow: hidden;
}

.gfx {
    width: 100%;
    color: #ffffff;
    background-color: transparent;
    text-shadow:
        -1px -1px 0 #061602,
        1px -1px 0 #061602,
        -1px  1px 0 #061602,
        1px  1px 0 #061602;
    font-size: 23.9rem;
    font-weight: 400;
    line-height: 0.75;
    letter-spacing: 2px;
    padding-top: 32px;
    transform: translate(-19.4%);
}

.gfx, .gfx-text {
    font-family: "Morgant", Arial, sans-serif;
}

.about-content {
    display: flex;
    gap: 4.4rem;
    padding-right: 1.4rem;
    margin-left: 12rem;
    margin-top: -12px;
}

.about-heading {
    z-index: 2;
}

.about-para {
    line-height: 1.6;
    padding-top: 4rem;
    margin-left: 5.2rem;
}

.about .book-a-call {
    background-color: var(--secondary);
    color: #ffffff;
    margin-top: 2.5rem;
}

.about .aesimage {
    position: absolute;
}

.aesimage3 {
    width: 20.4rem;
    height: 40rem;
    top: 5rem;
    left: -7rem;
}

.aesimage4 {
    top: 9rem;
    left: -1rem;
}

.aesimage5 {
    top: 18rem;
    left: -1rem;
}