:root {
    --primary: #31e685;
    --secondary: #1B804A;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Morgant", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
}

h1 {
    font-size: 5.4rem;
}

h2 {
    font-size: 7.4rem;
}

p {
    font-size: 1.7rem;
}

.highlight {
    color: var(--primary);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 40px 28px 74px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

.nav-bar, .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links, .social-links {
    list-style: none;
    display: flex;
}

.nav-links {
    gap: 4rem;
}

.social-links {
    gap: 2.5rem;
}

.nav-links a, .social-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 300;
}

.bi {
    width: 2.5rem;
    height: 2.5rem;
    fill: #31e685;
}

.home {
    position: relative;
    height: 100vh;
    color: #ffffff;
    background: linear-gradient(#000000, #061602);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 0;
    overflow: hidden;
}

.home > div {
    width: 70rem;
    text-align: center;
}

.home-heading {
    width: 100%;
    height: 11.8rem;
    padding: 0 8px 24px;
}

.home-para {
    width: 61.5rem;
    height: 4.8rem;
    text-align: center;
    padding: 8px;
    margin: auto;
}

.home-para p {
    font-size: 1.6rem;
}

.home .book-a-call, .testimonials .book-a-call {
    background-color: var(--primary);
}

.home .book-a-call {
    margin-top: 4.5rem;
}

.book-a-call {
    display: inline-block;
    width: 17.8rem;
    height: 4rem;
    border: none;
    border-radius: 100px;
}

.aesthetics .aesbutton, .aesthetics .aesspot, .aesimage {
    position: absolute;
}

.aesthetics .aesspot {
    width: 2px;
    height: 2px;
    background-color: #ffffff;
}

.spot1 {
    top: 14rem;
    left: 38.2rem;
}

.spot2 {
    top: 17rem;
    right: 48.2rem;
}

.spot3{
    bottom: 20em;
    left: 43.2rem;
}

.spot4 {
    bottom: 21em;
    right: 50.2rem;
}

.spot5 {
    bottom: 12em;
    left: 70rem;
}

.spot6 {
    bottom: 4rem;
    left: 20rem;
}

.aesthetics .aesbutton {
    color: var(--primary);
    width: 19.6rem;
    height: 4.6rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.button1 {
    top: 9.7rem;
    left: 54.2rem;
    transform: rotate(-17.24deg);
}

.button2 {
    top: 43.2rem;
    right: 8.6rem;
    transform: rotate(26.47deg);
}

.button3 {
    top: 44.3rem;
    left: -7.9rem;
    transform: rotate(19.55deg);
}

.button4 {
    bottom: 2.5rem;
    left: 48.6rem;
    transform: rotate(-17.98deg);
}

.aesimage1 {
    width: 18.82rem;
    height: 26.82rem;
    top: 3rem;
    left: 0;
}

.aesimage2 {
    width: 48.66rem;
    height: 49.5rem;
    bottom: -23.8rem;
    right: 14.3rem;
}

.about {
    position: relative;
    color: #061602;
    background-color: #ffffff;
}

.gfx-aes {
    overflow: hidden;
}

.gfx {
    width: 100%;
    color: #ffffff;
    background-color: transparent;
    text-shadow:
        -1px -1px 0 #061602,
        1px -1px 0 #061602,
        -1px  1px 0 #061602,
        1px  1px 0 #061602;
    font-size: 23.9rem;
    font-weight: 400;
    line-height: 0.75;
    letter-spacing: 2px;
    padding-top: 32px;
    transform: translate(-19.4%);
}

.gfx, .gfx-text {
    font-family: "Morgant", Arial, sans-serif;
}

.about-content {
    display: flex;
    gap: 4.4rem;
    padding-right: 1.4rem;
    margin-left: 12rem;
    margin-top: -12px;
    margin-bottom: 15rem;
}

.about-heading {
    z-index: 2;
}

.about-para {
    line-height: 1.6;
    padding-top: 4rem;
    margin-left: 5.2rem;
}

.about .book-a-call {
    background-color: var(--secondary);
}

.about .book-a-call {
    color: #ffffff;
    margin-top: 2.5rem;
}

.about .aesimage {
    position: absolute;
}

.aesimage3 {
    width: 18.4rem;
    height: 42rem;
    top: 5rem;
    left: -7rem;
}

.aesimage4 {
    top: 9rem;
    left: -1rem;
}

.aesimage5 {
    top: 20rem;
    left: 0rem;
}

.services {
    overflow: hidden;
    background-color: #000000;
}

.gfx-marque {
    width: 145%;
    height: 11rem;
    color: #ffffff;
    font-size: 3.9rem;
    font-weight: 100;
    font-family: "Morgant", Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(-10.5%);
}

.gfx-bg-image {
    width: 100%;
    height: auto;
}

.testimonials {
    color: #ffffff;
    background: linear-gradient(#000000, #061602);
    font-family: "Aeonik TRIAL", sans-serif;
}

.testimonials > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 4rem;
}

.testimonials-intro {
    font-size: 4.2rem;
    font-weight: 200;
    letter-spacing: -1px;
}

.testimonial-cards {
    width: 102rem;
    height: 104rem;
    border-radius: 0.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.6rem;
    margin: 8rem 0 5rem;
}

.cards-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-cards .card {
    color: #000000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    padding: 2rem;
}

.rating {
    margin-bottom: 2.2rem;
}

.para {
    font-size: 1.9rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2.6rem;
    min-height: 12rem;
}

.profile {
    display: flex;
    gap: 10px;
}

.profile img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.profile .name {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
}

.profile .date {
    font-size: 1.2rem;
    font-weight: lighter;
}

.portfolio {
    background: linear-gradient(135deg, #31e685 0, #31e685 30%, #00652f 100%);
    font-size: 6.2rem;
    font-family: "Morgant", Arial, sans-serif;
}

.portfolio > div {
    padding: 14rem 1.2rem 10.6rem;
}

.portfolio .gfx-aesservices {
    margin-bottom: 5rem;
}

.portfolio .gfx-aesservices > div {
    display: inline-block;
}

.gfx-oval {
    height: 9.2rem;
    border-radius: 9999rem;
    display: flex;
    align-items: center;
    transform: translateY(1.5rem);
}

.gfx-circle {
    background-color: #5DFD3F;
    width: 7.7rem;
    height: 7.7rem;
    border-radius: 50%;
}

.portfolio .gfx-service1 {
    color: #F5F5F5;
}

.gfx-oval1 {
    width: 22.2rem;
    background-image: url('../assets/images/aesthetic-images/background-aesthetics/aes-bgimage1.png');
    justify-content: right;
}

.gfx-circle1 {
    transform: translate(-0.6rem);
}

.portfolio .gfx-service2 {
    color: #1B804A;
}

.gfx-oval2 {
    width: 26.5rem;
    background-image: url('../assets/images/aesthetic-images/background-aesthetics/aes-bgimage2.png');
    justify-content: left;
}

.gfx-circle2 {
    transform: translate(0.6rem);
}

.portfolio .gfx-service3 {
    color: #000000;
}

.gfx-oval3 {
    width: 50.7rem;
    background-image: url('../assets/images/aesthetic-images/background-aesthetics/aes-bgimage3.png');
    justify-content: right;
}

.gfx-circle3 {
    transform: translate(-0.6rem);
}

.portfolio .gfx-service4 {
    color: #F5F5F5;
}

.gfx-oval4 {
    width: 60.4rem;
    background-image: url('../assets/images/aesthetic-images/background-aesthetics/aes-bgimage4.png');
    justify-content: left;
}

.gfx-circle4 {
    transform: translate(0.6rem);
}

.contact > div {
    position: relative;
    display: flex;
    padding-bottom: 5rem;
}

.contact-details {
    width: 80%;
    background-color: #Ffffff;
    padding: 10rem 40rem 0 6rem;
}

.contact-details > div > div {
    margin-bottom: 2rem;
}

.contact > div > div:nth-child(2) {
    width: 20%;
    background-color: #5DFD3F;
}

.contact h2 {
    font-size: 5.6rem;
    line-height: 1.2;
}

.contact-para {
    font-size: 2.4rem;
    font-family: "Fixture", sans-serif;
}

.contact .gfx-contact-text, .contact .gfx-contact-link {
    font-family: "Morgant", Arial, sans-serif;
    line-height: 1.4;
}

.contact .gfx-contact-text {
    font-size: 3.9rem;
}

.contact .gfx-contact-link {
    font-size: 2.2rem;
}

.contact a:link {
    background: linear-gradient(to right, #1B804A, #31e685);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.contact-form {
    position: absolute;
    top: 4.2rem;
    right: 6.5rem;
    width: 45rem;
    height: 52.2rem;
    background-color: #1B804A;
    border: 1.1rem solid #5DFD3F;
    border-radius: 24px;
}