:root {
    --color-primary: #31e685;
    --color-secondary: #1b804a;
    --color-accent: #f5f5f5;
    --color-dark: #000000;
    --color-light: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Morgant", Arial, sans-serif;
}

p {
    font-size: 1.7rem;
}

.highlight {
    color: var(--color-primary);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 40px 28px 74px;
    background-color: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

.nav-bar, .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links, .nav-socials {
    list-style: none;
    display: flex;
}

.nav-links {
    gap: 4rem;
}

.nav-socials {
    gap: 2.5rem;
}

.nav-link, .nav-social {
    color: var(--color-light);
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 300;
}

.nav-link:hover, .nav-link.active {
    color: var(--color-primary);
}

.bi {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary);
    transition: all ease-in-out 0.2s;
}

.bi:hover {
    transform: scale(1.2);
}

.bi:active {
    transform: scale(1);
}

.home-inner {
    position: relative;
    height: 100dvh;
    color: var(--color-light);
    background: linear-gradient(#000000, #061602);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0.12rem 0;
    z-index: 1;
}

.home-title {
    max-width: 13ch;
    font-size: clamp(3rem, calc(3.6vw + 1rem), 5.4rem);
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fade-in-up 1s ease-out forwards;
    animation-delay: 1s;
}

.home-description {
    font-size: 1.6rem;
    max-width: 60ch;
    text-align: center;
    margin-bottom: 3rem;
    opacity: 0;
    animation: fade-in-up 1s ease-out forwards;
    animation-delay: 1.8s;
}

.home-cta {
    opacity: 0;
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: 3s;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.1rem 5rem;
    border: none;
    border-radius: 100px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: scale(0.9);
    opacity: 0.6;
}

.btn-primary {
    color: var(--color-dark);
    background-color: var(--color-primary);
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 2s ease;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes text-reveal {
    from {
        clip-path: inset(0 100% 0 0);
        transition: opacity 2s ease;
    }
    to {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home-decor {
    z-index: 0;
}

.decor-btn, .decor-dot, .decor-image {
    position: absolute;
}

.decor-dot {
    width: 2px;
    height: 2px;
    background-color: var(--color-light);
}

.dot-1 {
    top: 14rem;
    left: 38.2rem;
}

.dot-2 {
    top: 17rem;
    right: 48.2rem;
}

.dot-3{
    bottom: 20em;
    left: 43.2rem;
}

.dot-4 {
    bottom: 21em;
    right: 50.2rem;
}

.dot-5 {
    bottom: 12em;
    left: 70rem;
}

.dot-6 {
    bottom: 4rem;
    left: 20rem;
}

.decor-btn {
    color: var(--color-primary);
    width: 19.6rem;
    height: 4.6rem;
    background-color: transparent;
    border: 1px solid #31e685;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.btn-1 {
    top: 9.7rem;
    left: 54.2rem;
    transform: rotate(-17.24deg);
}

.btn-2 {
    top: 43.2rem;
    right: 8.6rem;
    transform: rotate(26.47deg);
}

.btn-3 {
    top: 44.3rem;
    left: -7.9rem;
    transform: rotate(19.55deg);
}

.btn-4 {
    bottom: 2.5rem;
    left: 48.6rem;
    transform: rotate(-17.98deg);
}

.image-1 {
    width: 18.82rem;
    height: 26.82rem;
    top: 3rem;
    left: 0;
}

.image-2 {
    width: 48.66rem;
    height: 49.5rem;
    bottom: -23.8rem;
    right: 14.3rem;
}

.about-inner {
    position: relative;
    color: #061602;
    background-color: var(--color-light);
    overflow: hidden;
    z-index: 0;
}

.about-visuals {
    overflow: hidden;
    z-index: 0;
}

.gfx {
    color: var(--color-light);
    background-color: transparent;
    text-shadow:
        -1px -1px 0 #061602,
        1px -1px 0 #061602,
        -1px  1px 0 #061602,
        1px  1px 0 #061602;
    font-size: clamp(9.4rem, calc(16.4vw + 1rem), 23.9rem);;
    font-weight: 400;
    line-height: 0.75;
    letter-spacing: 2px;
    white-space: nowrap;
    padding-top: max(0.134em, 1.2vh);
    transform: translate(-19.4%);
}

.gfx, .gfx-text {
    font-family: "Morgant", Arial, sans-serif;
}

.about-content {
    display: flex;
    gap: 9.4rem;
    padding-right: 1.4rem;
    margin-left: 8.8vw;
    margin-top: -12px;
    margin-bottom: 15rem;
    position: relative;
    z-index: 2;
}

.about-header h2 {
    font-size: clamp(4.8rem, calc(5vw + 1rem), 7.4rem);
}

.about-body {
    line-height: 1.6;
    padding-top: 4rem;
}

.btn-secondary {
    color: var(--color-light);
    background-color: var(--color-secondary);
}

.about-cta {
    margin-top: 2.5rem;
}

.about-decor {
    z-index: 0;
}

.decor-image {
    position: absolute;
}

.image-3 {
    width: 18.4rem;
    height: 42rem;
    top: 5rem;
    left: -7rem;
}

.image-4 {
    top: 9rem;
    left: -1rem;
}

.image-5 {
    top: 20rem;
    left: 0rem;
}

.services {
    overflow: hidden;
    background-color: var(--color-dark);
}

.services-title-strip {
    color: var(--color-light);
    font-size: clamp(1.9rem, calc(1.8vw + 1rem), 3.9rem);
    font-weight: 100;
    font-family: "Morgant", Arial, sans-serif;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 9rem;
    padding: 3vh 0;
    transform: translate(-10.5%);
}

.agency-background-image {
    width: 100%;
    height: auto;
}

.testimonials {
    color: var(--color-light);
    background: linear-gradient(#000000, #061602);
    font-family: "Aeonik TRIAL", sans-serif;
    overflow: hidden;
}

.testimonials-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 12rem;
    padding-bottom: 4rem;
    z-index: 0;
}

.testimonials-content {
    z-index: 1;
}

.testimonials-header {
    font-size: 4.2rem;
    font-weight: 200;
    letter-spacing: -1px;
}

.testimonials-grid {
    width: 102rem;
    height: 104rem;
    border-radius: 0.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.6rem;
    margin: 8rem 0 5rem;
}

.cards-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-card {
    color: var(--color-dark);
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    padding: 2rem;
}

.rating {
    margin-bottom: 2.2rem;
}

.testimonial-text {
    font-size: 1.9rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2.6rem;
    min-height: 12rem;
}

.profile {
    display: flex;
    gap: 10px;
}

.profile img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.profile .name {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
}

.profile .date {
    font-size: 1.2rem;
    font-weight: lighter;
}

.testimonials-decor {
    z-index: 0;
}
 
.decor-image {
    position: absolute;
}

.image-6 {
    top: -13rem;
    right: 3rem;
    width: 25rem;
    height: 48rem;
}

.image-7 {
    top: 69rem;
    left: 1rem;
}

.portfolio {
    background: linear-gradient(135deg, #31e685 0, #31e685 30%, #00652f 100%);
    font-size: 6.2rem;
    font-family: "Morgant", Arial, sans-serif;
    overflow: hidden;
}

.portfolio-inner {
    padding: 14rem 1.2rem 10.6rem;
}

.portfolio-service {
    margin-bottom: 5rem;
}

.portfolio-service > div {
    display: inline-block;
}

.obround {
    height: 9.2rem;
    border-radius: 9999rem;
    display: flex;
    align-items: center;
    transform: translateY(1.5rem);
}

.circle {
    background-color: #5DFD3F;
    width: 7.7rem;
    height: 7.7rem;
    border-radius: 50%;
}

.service1 {
    color: #F5F5F5;
}

.obround1 {
    width: 22.2rem;
    background-image: url('../assets/images/decorative-images/background-decorator/bg-decor-image1.png');
    justify-content: right;
}

.circle1 {
    transform: translate(-0.6rem);
}

.service2 {
    color: var(--color-secondary);
}

.obround2 {
    width: 26.5rem;
    background-image: url('../assets/images/decorative-images/background-decorator/bg-decor-image2.png');
    justify-content: left;
}

.circle2 {
    transform: translate(0.6rem);
}

.service3 {
    color: var(--color-dark);
}

.obround3 {
    width: 50.7rem;
    background-image: url('../assets/images/decorative-images/background-decorator/bg-decor-image3.png');
    justify-content: right;
}

.circle3 {
    transform: translate(-0.6rem);
}

.service4 {
    color: #F5F5F5;
}

.obround4 {
    width: 60.4rem;
    background-image: url('../assets/images/decorative-images/background-decorator/bg-decor-image4.png');
    justify-content: left;
}

.circle4 {
    transform: translate(0.6rem);
}

.contact-inner {
    position: relative;
    display: flex;
    overflow: hidden;
}

.contact-info {
    width: 80%;
    height: 72rem;
    background-color: var(--color-light);
    padding: 10rem 40rem 0 6rem;
}

.contact-info > div {
    margin-bottom: 2rem;
}

.contact > div > div:nth-child(2) {
    width: 20%;
    background-image: url('../assets/images/decorative-images/background-decorator/bg-decor-image5.png');
}

.contact h2 {
    font-size: 5.6rem;
    line-height: 1.2;
}

.contact .para {
    font-size: 2.8rem;
    font-family: "Fixture", sans-serif;
}

.contact-label, .contact-link {
    font-family: "Morgant", Arial, sans-serif;
    line-height: 1.4;
}

.contact-label {
    font-size: 3.9rem;
}

.contact-link {
    font-size: 2.6rem;
    background: linear-gradient(to right, #1B804A, #31e685);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.contact-form {
    position: absolute;
    top: 4.2rem;
    right: 6.5rem;
    width: 52rem;
    color: var(--color-light);
    border: 1.1rem solid transparent;
    background: linear-gradient(145deg, #5DFD3F, #31e685) border-box;
    border-radius: 24px;
    text-align: center;
}

.contact-form > div {
    background-color: #1B804A;
    padding: 3rem 3.2rem;
    border-radius: 12px;
}

.contact-form h3 {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 40px;
    margin-bottom: 1rem;
}

.contact-form p {
    width: 31rem;
    font-size: 0.7rem;
    padding-bottom: 2.8rem;
    margin: auto;
}

label{
    text-align: left;
    margin-bottom: 2px;
}

label, select, input {
    display: block;
    font-size: 1.3rem;
}

select, input {
    height: 5rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

select, input, .submit-btn {
    border: none;
}

.submit-btn-container {
    height: 4.6rem;
    background: linear-gradient(170deg, #5DFD3F 0, #1B804A 80%) border-box;
    border-radius: 50px;
    padding: 4px;
    box-shadow: 0px 3px 5px #135a34,
                0px 4px 14.3px #135a34;
    margin: 2.4rem 0 0;
    transition: all ease-in-out 0.2s;
}

.submit-btn {
    color: var(--color-light);
    border-radius: 50px;
    background-color: var(--color-secondary);
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 6px;
}

.submit-btn-container:active {
    transform: scale(0.95);
}

select {
    width: 100%;
    padding: 0 6rem 0 0.8rem;
    appearance: none;
    background-color: var(--color-light);
}

.select-container {
    position: relative;
}

.dropdown-arrow {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
}

input {
    width: 100%;
    padding: 0 1rem;
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

footer {
    height: 50rem;
    background-color: var(--color-dark);
}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .about-content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 2rem;
        margin: -12px auto 4rem;
    }
}